.navbar{
    background-image: url("./assets/longCode.gif");
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 50;
    background-size: cover;
    background-repeat: no-repeat;
}
#navbarLogo{
    width: 60px;
    height: 60px;
}
.navbarItemList{
    display: block;
}
.navbarItemList li{
    float: right;
    margin: 7px;
    list-style-type: none;
    z-index: 6;
    border: 3px solid white;
    background-color: white;
    border-radius: 5px;
}
#contactLink:hover{
    transform: scale(1.1);
}
#valuesLink:hover{transform: scale(1.1);}
#aboutLink:hover{transform: scale(1.1);}
#projectsLink:hover{transform: scale(1.1);}
.navbar a{
    color: black;
}
.body{
    position: relative;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: tan;
    z-index: 50;
}
footer{
    position: fixed;
    bottom: 0;
}
#linkedinLogo{
    width: 40px;
    height: 40px;
    position: relative;
    left: 2800%;
}
#codepenLogo{
    width: 40px;
    height: 40px;
    position: relative;
    left: 2800%;
}
#githubLogo{
    width: 40px;
    height: 40px;
    position: relative;
    left: 2800%;
}
#joelogo{
    width: 40px;
    height: 40px;
    position: relative;
    left: 1300%;
    margin-top: 0px;
    background-color: white;
}
#copyrightAndName{
    margin-top: 10px;
    font-size: 12pt;
}
.footer li{
    display: inline-block;
}
.projects{
    text-align: center;
    position: relative;
    top: -125px;
}
#carouselExampleIndicators{
    width: 60%;
    height: 500px;
   margin-left: 20%;
   margin-right: 20%;
}
.carouselImages{
    width: 100%;
    height: 500px;
}
#pacImage{
    width: 100%;
    height: 500px;
    background-color: black;
}
body{
    background-color: darkred;
    padding-bottom: 0;
    margin-bottom: 0;
}
.aboutMeList{
    display: inline-block;
    list-style-type: none;
}
.aboutMeList h2{
    color: #212529;
}
#selfie{
    width: 350px;
    height: 350px;
    position: relative;
    bottom: -200px;
    left: 50px;
}
#headerAndText{
    float: right;
    width: 70%;
    height: auto;
    padding-right: 10%;
    color: white;
    position: relative;
    top: -50px;
}
.aboutMe{
    position: relative;
  padding-top: -20px;
    top: -125px;
}
.aboutMe p{
    font-size: 14pt;
    color: white;
    
}
.myValues{
    text-align: center;
    
}
.card-header{
    background-color: black;
    border: 1px solid black;
}
.tabNames{
    color: white;
    font-size: 12pt;
}
.card-body{
    background-color: lightgray;
}
#coreValueHeader{
    color: black;
}
.inputBars{
    background-color: transparent;
    border-bottom: 3px solid black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    color: white;
    
}
::placeholder{
    color: white;
    opacity: 1;
}
#submitButton{
    color: white;
    background-color: transparent;
    border-bottom: 3px solid black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    z-index: 2;
    transition: all 0.4s;
}
#submitButton :hover{
    transform: rotate(360deg);
    background-color: white;
    color: black;
}
.button{
    height: 100px;
}
.button a :hover{
    transform: rotate(360deg);
    background-color: white;
    color: black;
}
#nameAboveAboutMe{
    position: relative;
    float: left;
    width: 52.5%;
    bottom: -100px;
    border-right: 5px solid #212529;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
    typing 3s steps(84, end),
     blink-caret .75s step-end infinite;
}
@keyframes typing{
    from {width: 0}
    to {width: 52.5%}
}
@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: #212529}
}
.Experience h2{
    font-size: 24pt;
}
.Experience p{
    font-size: 14pt;
}
#exacthireLogo{
    width: 350px;
    height: 350px;
}
#tjxLogo{
    width: 350px;
    height: 350px;
}
.tjxWork p{
    width: 70%;
    float: right;
    position: relative;
    bottom: -100px;
    color: white;
}
.exacthireWork p{
    width: 70%;
    float: right;
    position: relative;
    bottom: -100px;
    color: white;
}
#bigText{
    width: 23.70%;
}